#pPKdCQzxCZHeKWYWF5PW {
  --background: url('../../../assets/images/Fukey\ Education.png');
    --color: #f4f5f8 !important;
  
    .login-bg {
      height: 100vh;
      display: flex;
      align-items: center;
  
      form {
        width: 100%;
      }
  
      .card {
        // background-color: #212121 !important;
        border-radius: 20px;
        margin: 0;
        padding: 20px;
  
        @media (max-width: 767px) {
          height: 98vh;
          display: flex;
          align-items: center;
        }
      }
  
      .title {
        font-weight: 500 !important;
        font-size: 1.75rem !important;
        letter-spacing: 1px;
      }
  
      ion-item {
        --border-radius: 50px;
        border-radius: 50px;
        // --background: #2e2e2e !important;
        // --color: #f4f5f8 !important;
        letter-spacing: 1px;
  
        ion-label {
          padding: 2.5px 10px !important;
        }
        ion-input {
          padding: 2.5px 10px !important;
        }
      }
      a.fp {
        font-size: 0.8rem;
        letter-spacing: 1px;
        float: right;
        margin-top: 10px;
        text-decoration: none !important;
      }
  
      .login-button,
      .back-button {
        font-weight: 600 !important;
        width: 100% !important;
        letter-spacing: 1px;
      }
    }
  }

  .logo{
    width: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto
  }

  .sign-in-link {
    text-decoration: none; 
    font-size: 4vw;  
    color: black;
    span{
      color: blue;
    }
  }
  