.ios,
.md {
  page-intro {
    ion-slide img {
       width: 40%;
    }
  }
}

.slider{
    background: white;
}

.logo{
    width: 22%;
    margin-top: 3px;
    margin-left: 40%;
}

swiper-container{
    height: 153vw;
}

h1{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

h2{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 240%;
    margin-top: 12px;
}

div{
    // display: flex;
    // justify-content: center;
    // margin: 0px;
    // color: black;
    // font-size: small;
    // width: 258px;
    // align-self: center;

    display: flex;
    justify-content: center;
    margin: 0 0 0 49px;
    color: black;
    font-size: 12px;
    width: 258px;

    p{
        text-align: center;
        margin-top: revert;
    }
}

.img2{
    max-width: 88%;
    margin: 0 6vw;
}

.skipGuid{
    color: blue;
    text-align: center;
    margin-top: 3vw;
}

.nextbtn{
    margin: 25px 30px 0px 30px;
    height: 45px
}

.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    margin: 2vw 8vw;
    text-align: center;
    text-transform: none !important;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}
         
.btn-start{
    background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
}
 