<ion-header id="a6LIZt6rrENcnsHfGJNK">
  <ion-toolbar color="secondary">
     <ion-buttons slot="start">
        <ion-button color="primary">
           <!-- <ion-icon name="menu" color="light"></ion-icon> -->
           <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
        </ion-button>
     </ion-buttons>
     <ion-label color="light">
     <span class="logon">Fukey Education</span>
     </ion-label>
     <ion-buttons slot="end">
        <ion-button color="primary">
           <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
   <div class="container">
      <ion-searchbar placeholder="Subject Class etc...."></ion-searchbar>
       
   </div>
  <br>
   <div id="store">
      <ion-segment [(ngModel)]="segment" mode="ios">    
      <ion-segment-button value="1">
          All
      </ion-segment-button>
      <ion-segment-button value="2">
        Popular
      </ion-segment-button>
      <ion-segment-button value="3">
         Free
      </ion-segment-button>
      <ion-segment-button value="4">
        9th Class
      </ion-segment-button>
      <ion-segment-button value="5">
         10th Class
      </ion-segment-button>
      </ion-segment>
      <!-- <div [ngSwitch]="segment">
         <ion-card *ngSwitchCase="'1'" class="ion-no-margin ion-padding-bottom">
            <ion-card-header>
               1
            </ion-card-header>
         </ion-card>
         <ion-card *ngSwitchCase="'2'" class="ion-no-margin ion-padding-bottom">
            <ion-card-header>
               2
            </ion-card-header>
         </ion-card>
         <ion-card *ngSwitchCase="'3'" class="ion-no-margin ion-padding-bottom">
            <ion-card-header>
               3
            </ion-card-header>
         </ion-card>

         <ion-card *ngSwitchCase="'3'" class="ion-no-margin ion-padding-bottom">
            <ion-card-header>
               3
            </ion-card-header>
         </ion-card>
      </div> -->
   </div>

   <div class="classes">
      <ion-grid>
         <ion-row>
           <ion-col size="auto"></ion-col>
           <ion-col>
            <ion-card>
               <img  src="../../../../assets/images/275_1R3A0874.jpg" />
               <ion-card-header>
                 <ion-card-title>Class 9 Mathematics</ion-card-title>
                 <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
               </ion-card-header>
               <ion-icon slot="end" color="secondary" name="exit"></ion-icon>
               <ion-card-content>
                  <ion-icon color="secondary" slot="start" name="people"></ion-icon>
                  <!-- <ion-icon slot="end" color="secondary" name="exit"></ion-icon> -->
                  <p>+150 Members </p>
               </ion-card-content>
             </ion-card>
           </ion-col>
           <ion-col>
            <ion-card>
               <img  src="../../../../assets/images/138735765-smiling-african-male-student-professional-wear-headset-elearning-study-with-online-tutor-teacher.jpg" />
               <ion-card-header>
                 <ion-card-title>Class 9 Science</ion-card-title>
                 <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
               
               </ion-card-header>
             
               <ion-card-content>
                  <ion-icon color="secondary" slot="start" name="people"></ion-icon>
                  <p>+150 Members </p>
               </ion-card-content>
             </ion-card>
           </ion-col>
         </ion-row>

         <ion-row>
            <ion-col size="auto"></ion-col>
            <ion-col>
             <ion-card>
                <img  src="../../../../assets/images/girlalap.jpg" />
                <ion-card-header>
                  <ion-card-title>Class 9 Social Science
                  </ion-card-title>
                  <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                  <ion-icon color="secondary" slot="end" name="exit"></ion-icon>
                </ion-card-header>
             
                <ion-card-content>
                   <ion-icon color="secondary" slot="start" name="people"></ion-icon>
                   <p>+150 Members </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col>
             <ion-card>
                <img  src="../../../../assets/images/student-using-laptop-having-online-class-with-teacher-pov.webp" />
                <ion-card-header>
                  <ion-card-title>Class 10 Mathematics</ion-card-title>
                  <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                </ion-card-header>
              
                <ion-card-content>
                   <ion-icon color="secondary" slot="start" name="people"></ion-icon>
                   <p>+150 Members </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
      </ion-grid>


   </div>
</ion-content>
