<ion-header id="a6LIZt6rrENcnsHfGJNK">
  <ion-toolbar color="secondary">
     <ion-buttons slot="start">
        <ion-button color="primary">
           <ion-icon name="menu" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
     <ion-label color="light">
     <span class="logon">Fukey Education</span>
     </ion-label>
     <ion-buttons slot="end">
        <ion-button color="primary">
           <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
<ion-avatar>
  <img src="../../../../assets/images/2.png" alt="">
</ion-avatar>
<div>
  <h1>Welcome, Mayank Vishwakarma!</h1>
  <ion-text>You have 3 enrolled coureses</ion-text>
</div>
</div>




</ion-content>






