<ion-header id="a6LIZt6rrENcnsHfGJNK">
  <ion-toolbar color="secondary">
     <ion-buttons slot="start">
        <ion-button color="primary">
           <!-- <ion-icon name="menu" color="light"></ion-icon> -->
           <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
        </ion-button>
     </ion-buttons>
     <ion-label color="light">
     <span class="logon">Fukey Education</span>
     </ion-label>
     <ion-buttons slot="end">
        <ion-button color="primary">
           <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
   <h2 class="title"><strong>All Messages</strong></h2>
  

   <hr>
  <div class="header-contend">
   <img src="../assets/images/275_1R3A0874.jpg" alt="">
   <ion-label>
     <h2> Class 9th Social Science</h2>
     <p>Class curriculum updated...  </p>
   </ion-label>
   </div>
  
   <br>

   <!-- <div class="header-contend">
      <img src="../assets/images/275_1R3A0874.jpg" alt="">
      <ion-label>
        <h2> Class 9th Mathematics   </h2>
        <p>Wow, that's amazing  </p>
      </ion-label>
   </div>

   <div class="header-contend">
      <img src="../assets/images/275_1R3A0874.jpg" alt="">
      <ion-label>
        <h2>Fukey Offers 🥳 </h2>
        <p>Special offers only for you... </p>
      </ion-label>
   </div> -->

   


</ion-content>
