<ion-header id="a6LIZt6rrENcnsHfGJNK">
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-button color="primary">
           <ion-icon name="menu" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
     <ion-label color="light">
     <span class="logon">Fukey Education</span>
     </ion-label>
     <ion-buttons slot="end">
        <ion-button color="primary">
           <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
</ion-content>
