#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#a6LIZt6rrENcnsHfGJNK {
  ion-toolbar {
    --background: #fff;
    --min-height: 70px;
    .logo {
      letter-spacing: 0.8px;
      color: #222428;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
      }
      span {
        
        margin-left: 5px;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 25px;
      }
    }
    ion-icon {
      font-size: 30px;
    }
  }
}

.logon{
  font-size: 25px;
}

ion-slide{
  justify-content: left;
  ion-row{
    width: 100%;
    margin-bottom: 4.5%;
  }

}

.header-contend{
  position: absolute;
  top: 17px;
  left: 15px;
  display: flex;
  align-items: center;

  img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 3px solid #0936b3;
      margin-right: 14px;
  }

 h2{
  font-weight: 600;
  color: black;
  font-size: 17px;
  // margin-left: 7px;
 }

 p{
  font-size: 17px;
  color: #120c0c;
  font-weight: 100;
  // margin-left: 7px;
 }

}


ion-card {
background: transparent;
}

.banner{
img{
margin-top: 100px;
/* width: 100% !important; */
width: 90%;
height: 43%;
border-radius: 22px;
margin-left: 18px;
}
}

ion-content{
.banners{
height: 25vh;
margin: 10px 0;
img{
    width: 100%;
    height: 22vh;
    border-radius: 5px;
}
}
}

.classes{
position: absolute;
ion-card{
  box-shadow: #120c0c;
  img{
    border-radius: 10px;
  }
}
 ion-card-title{
  font-size: 15px;
  font-weight: 600;
 }

 span{
  margin-left: 13px;
  font-size: 15px;
  font-weight: 500;
  color: #424242;
 }

 
}










