<ion-header id="a6LIZt6rrENcnsHfGJNK">
  <ion-toolbar color="secondary">
     <ion-buttons slot="start">
        <ion-button color="primary">
           <!-- <ion-icon name="menu" color="light"></ion-icon> -->
           <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
        </ion-button>
     </ion-buttons>
     <ion-label color="light">
     <span class="logon">Fukey Education</span>
     </ion-label>
     <ion-buttons slot="end">
        <ion-button color="primary">
           <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-contend">
    <img src="../assets/images/275_1R3A0874.jpg" alt="">
    <ion-label>
      <h2>  Mayank Vishwakarma!</h2>
      <p>mayank@dhiyotech.in</p>
    </ion-label>
 </div>

 

</ion-content>
