<ion-header id="a6LIZt6rrENcnsHfGJNK">
  <ion-toolbar color="secondary">
     <ion-buttons slot="start">
        <ion-button color="primary">
           <!-- <ion-icon name="menu" color="light"></ion-icon> -->
           <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
        </ion-button>
     </ion-buttons>
     <ion-label color="light">
     <span class="logon">Fukey Education</span>
     </ion-label>
     <ion-buttons slot="end">
        <ion-button color="primary">
           <ion-icon name="notifications" color="light"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-contend">
    <img src="../assets/images/275_1R3A0874.jpg" alt="">
    <ion-label>
      <h2>  Mayank Vishwakarma!</h2>
      <p>mayank@dhiyotech.in</p>
    </ion-label>
    <br>
    
    <div class="profile-setting">
   <ion-buttons>
      <ion-button class="btn" shape="round" color="success"> <ion-icon slot="start" color="light" name="create"></ion-icon></ion-button>
      <label for="">
      <span>Edit Profile</span>
      </label>
   </ion-buttons>
   
    <!-- <ion-button class="lastbtn"> <ion-icon slot="end" name="create"></ion-icon></ion-button> -->
   </div>
 </div>

   <div class="general-settings">
      <label>
         <h1>General Settigns</h1>
      </label>

      <ion-buttons>
         <ion-button class="btn" shape="round" color="secondary"> <ion-icon slot="start" color="light" name="help"></ion-icon></ion-button>
         <span>About</span>
      </ion-buttons>
      <br>
      <ion-buttons>
         <ion-button class="btn" shape="round" color="secondary"> <ion-icon slot="start" color="light" name="alert"></ion-icon></ion-button>
         <span>Terms & Conditions</span>
      </ion-buttons>
      <br>
      <ion-buttons>
         <ion-button class="btn" shape="round" color="secondary"> <ion-icon slot="start" color="light" name="lock-closed"></ion-icon></ion-button>
         <span>Privacy Policy</span>
      </ion-buttons>
       <br>
      <ion-buttons>
         <ion-button class="btn" shape="round" color="secondary"> <ion-icon color="light" slot="start" name="star"></ion-icon></ion-button>
         <span>Rate App</span>
      </ion-buttons>
       <br>
      <ion-buttons>
         <ion-button class="btn" shape="round" > <ion-icon color="light" slot="start" name="share-social"></ion-icon></ion-button>
         <span>Share App</span>
      </ion-buttons>

   </div>


 
 

</ion-content>
